* {
    background-color: #001c42;
    color: #f5a321;
    font-size: 18px;
    font-weight: 700px;
    //line-height: 700px;
}

.container{
    margin-top: 30px;
}

.search-container {
    margin-bottom: 10px;
  }
  
  .search-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
/*

.container{
    width: calc(100% - 200px);
}

.tab-item {
    width: 100%;
    min-height: 49px;

    &:hover {
        border-bottom: 1px solid #f5a321;
    }
}
.active {
    background: rgba(217, 217, 217, 0.2);
}
*/




