<div class="box">
  <app-yellow-arrow [name]="'Pedidos'"></app-yellow-arrow>
  <app-pedidos-none></app-pedidos-none>

</div>
<div class="box">
  <div class="bar-tab">
    <button class="tab-item" *ngFor="let tab of tabs; let i = index" (click)="openTab(tab.label)"
      [class.active]="activeTab === i">
      {{ tab.label }}
    </button>
  </div>
  <div *ngFor="let tab of tabs; let i = index" [id]="tab.id" class="Tab"
    [style.display]="activeTab === i ? 'block' : 'none'">
    <app-yellow-arrow [name]="tab.id"></app-yellow-arrow>
    <app-pending-orders [selectedOption]="tab.id"></app-pending-orders>
  </div>

  <button>
    
  </button>
</div>