* {
    background-color: #001c42;
    color: #f5a321;
    font-size: 18px;
    font-weight: 700px;
    //line-height: 700px;
}

.box{
    //overflow: auto;
    max-width: 100%
}

.bar-tab {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    overflow-y: auto;
}
.tab-item {
    width: 100%;
    min-height: 49px;

    &:hover {
        border-bottom: 1px solid #f5a321;
    }
}
.active {
    background: rgba(217, 217, 217, 0.2);
}





