<mat-card>
  <div class="close" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </div>
  <div class="popup-content">
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="form">
      <!-- Restante do seu formulário -->
     <app-image-profile></app-image-profile>
      
      <ng-container *ngFor="let formData of formsLabels">
        <fieldset>
          <label>{{ formData.label }}</label>
          <input *ngIf="formData.type !== 'file'" type="{{ formData.type || 'text' }}"
            [placeholder]="formData.placeholder" [formControlName]="formData.formControlName"
            [class]="formData.class" />
 
        </fieldset>

      </ng-container>

    
     

    </form>
  </div>

  <mat-card-actions>
    <button mat-button (click)="closeDialog()" class="btn reprovar">Reprovar</button>
    <button mat-button color="primary" class="btn aprovar">Aprovar</button>
   </mat-card-actions>
</mat-card>