footer {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    margin: 10px 30px;
    
}

a {
    text-decoration: none;
    color: #f5a321;
}

ul {

    padding: 5px;
    display: flex;
    list-style: inside;
}
li {
    list-style: inside;
}
p{
    padding: 10px;
}
